:root {
    /* Theme Colors */
    --theme-primary: #6abf69;/*#1556ac;*/
	--theme-primary-hover: #4d9e4d;

	--theme-bg: #f8f9fa;
	--theme-bg-accent: #eef1f3;
    --theme-bg-accent-2: #ccc;

    --text-whitebg: #1F1F1F; /* for text with white background */

    /* Theme Fonts */
	--theme-font-family: Arial, 'Roboto Serif', Georgia, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--theme-font-family);
}

p { /* por accesibilidad */
    line-height: 1.5;
}

.color-primary {
    color: var(--theme-primary);
}


/* Estilos generales */
body {
    /* font-family: Arial, sans-serif; */
    /* background-color: var(--theme-bg); */
    color: #333333;
    margin: 0; /* Eliminar margen predeterminado */
}

/* Estilos para el encabezado */
.hero {
    padding: 50px 0; /* Espaciado interno */
}

/* Estilos para los encabezados (h1, h2) */
h1 {
    margin-top: 0; /* Eliminar margen superior predeterminado */
    margin-bottom: 20px; /* Espaciado inferior */
    font-weight: bold; /* Fuente en negrita */
    text-align: center; /* Centrar texto */
}

/* Estilos para el contenido */
.content {
    padding: 20px; /* Espaciado interno */
}

/* Estilos para la lista */
ul {
    padding: 0; /* Eliminar relleno predeterminado */
    list-style: none; /* Eliminar viñetas */
}

/* Estilos para los elementos de la lista */
ul li {
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilos para los enlaces */
a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Eliminar subrayado predeterminado */
}

a:hover {
    text-decoration: underline; /* Subrayar en el hover */
}

/***************** Fade in *****************/
.fade {
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}

.fade.visible {
    opacity: 1;
}

/***************** First Section ***********/

.resaltado {
    color: var(--theme-primary); /* Tonos verdosos claros/pastel */
    /* font-family: 'Roboto', sans-serif; Tipografía especial y legible */
    /* font-size: 1.2em; Tamaño de fuente */
    font-weight: bold; /* Fuente en negrita */
}

.logo {
    width: 50%;
    height: 20vh;
    display: block;
    margin: 10vh auto;
}

.arrow {
    width: 100px;
    display: block;
    /* margin: 0 auto; */
    margin: 10vh auto 0
}

/***************** Footer *****************/

footer {
    height: 100%;
    width: 100%;
    padding: 3em 6em;
    background-color: var(--theme-bg-accent);
    border-radius: 3em 3em 0 0;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.wrapper-text {
    text-align: center;
    /* vertical center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-text img {
    height: 6em;
}

.wrapper-authors {
    /* vertical center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 6em;
    text-align: left;
}

/***************** Bokeh *****************/

.wrapper-bokeh {
    margin: 0 10%;
}

/***************** hour-data *****************/

.wrapper-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-img {
    text-align: center;
    margin-bottom: 0;
}

.hour-data {
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hour-data img {
    width: 90%;
}