<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {{ bokeh_css }}
        {{ bokeh_js }}
        <link rel="stylesheet" type="text/css" href="/bokeh-vis/static/css/special.css">
        <script src="/bokeh-vis/static/js/special.js"></script>
    </head>
  
    <body class="fade">
        <section style="height: 100vh;">
           <img src="bokeh-vis/static/images/electrodatos-high-resolution-logo.png" class="logo">

            <h1 class="fade resaltado">A continuación puedes ver algunos de los datos más destacados de tu factura eléctrica en el año {{ year }}...</h1>

            <h1 class="fade">Estás en el top <span class="valor">{{ porcentaje_top }}</span>% de la gente que más electricidad ha consumido este año.</h1>

            <h1 class="fade">Has consumido de media <span class="valor">{{ consumo_medio_input }}</span>kWh.</h1>
            <h1 class="fade">Tu consumo medio es {{ comparacion }} a la media (<span class="valor">{{ media_existente }}</span> kWh).</h1>

            <h1 class="fade">En total este año has gastado <span class="valor">{{ gasto_total }}</span> € (<span class="valor">{{ gasto_media }}</span> € cada día).</h1> 

            <h1 class="fade resaltado">Deslizando también puedes ver una serie de gráficas con datos sobre tu consumo y tu gasto.</h1>

            <img src="bokeh-vis/static/images/arrow.png" class="arrow">
        </section>
  
        <div class="wrapper-bokeh">
            {{ plot_div|indent(8) }}
            {{ plot_script|indent(8) }}
        </div>

        <section class="hour-data">
            <div class="wrapper-img">
                <h2 class="h2-img">Consumo medio por hora</h2>
                <img src="bokeh-vis/static/images/circular_barplot_hours.png" alt="">
            </div>
            <div class="wrapper-datos">
                <h2>Estadísticas curiosas</h2>
            </div>
        </section>

        <footer class="footer">
            <div class="wrapper-text">
                <p>Aplicación Bokeh desarrollada en HackUDC 2024 para el reto propuesto por Gradiant, para más información visita nuestro repositorio de GitHub.</p>
                <a href="https://github.com/agr17/hackudc-electrodatos">
                    <img src="bokeh-vis/static/images/github_logo.png" alt="">
                </a>
            </div>
            <div class="wrapper-authors">
                <ul>
                    <li>Pablo Boo Iglesias (<a href="mailto:pablo.boo@udc.es">pablo.boo@udc.es</a>)</li>
                    <li>Manuel Corujo Muíña (<a href="mailto:manuel.corujom@udc.es">manuel.corujom@udc.es</a>)</li>
                    <li>María López García (<a href="mailto:maria.lgarcia@udc.es">maria.lgarcia@udc.es</a>)</li>
                    <li>Ángel Regueiro Feal (<a href="mailto:a.regueiro.feal@udc.es">a.regueiro.feal@udc.es</a>)</li>

                </ul>
            </div>
        </footer>
    </body>
</html>