<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body { background: #AFAFAF; }
            .hero { width: 100%; text-align: center; }
        </style>
        <meta charset="utf-8">
        {{ bokeh_css }}
        {{ bokeh_js }}
        <link rel="stylesheet" type="text/css" href="/bokeh-vis/static/css/special.css">
        <script src="/bokeh-vis/static/js/special.js"></script>
    </head>
    <body>
        <section class="hero">
            <h1 class="fade">Consumption</h1>
        </section>

        <div class="fade">
            {{ plot_div|indent(8) }}
            {{ plot_script|indent(8) }}
        </div>

        <h1 class="fade">Estás en el top <span class="valor">{{ porcentaje_top }}</span>% de los consumidores de este año {{ year }}.</h1>
        

        <footer class="fade">
            <h2>Autores</h2>
            <ul>
                <li>Pablo</li>
                <li>Manuel</li>
                <li>María</li>
                <li>Ángel</li>
            </ul>
        </footer>
    </body>
</html>